$breakpoint-small: 0;
$breakpoint-medium: 640px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1440px;

.container-blog {
    max-width: 1200px;
    margin: auto;
    margin-top: 150px;

    .container-flex {
        padding: 50px;
        background-color: rgb(245, 245, 245);
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 48px;
            font-weight: 700;
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .btn-content {
            margin: 20px;
            border-radius: 20px;
            padding: 3px;
            background: #fff;

            .Selected-btn {
                background-color: rgb(0, 0, 0);
                color: beige;
                padding: 10px 40px;
                font-weight: 700;
                border: none;
                border-radius: 20px;
            }

            .button {
                background-color: rgb(255, 255, 255);
                color: rgb(12, 12, 12);
                border: none;
                border-radius: 20px;
                padding: 10px 40px;
            }
        }
    }

    .container-comp {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin-top: 40px;

        .content-kid {
            border-radius: 15px;
            padding: 20px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 320px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .img-container {
                max-width: 90px;
                max-height: 104px;
                border-radius: 150%;
                background-color: rgb(207, 235, 250);
                text-align: center;
                padding: 20px;

                img {
                    width: 68%;
                }
            }

            h2 {
                font-size: 32px;
                font-weight: 700;
            }
        }
    }
}

@media (max-width: $breakpoint-large) {
    .container-blog {
        .container-comp {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: $breakpoint-medium) {
    .container-blog {
        .container-flex {
            padding: 30px;

            h1 {
                font-size: 36px;
                margin-top: 50px;
                margin-bottom: 30px;
            }

            .btn-content {

                .Selected-btn,
                .button {
                    padding: 10px 20px;
                }
            }
        }

        .container-comp {
            grid-template-columns: 1fr;

            .content-kid {
                width: 100%;
            }
        }
    }
}

@media (max-width: $breakpoint-small) {
    .container-blog {
        margin-top: 100px;

        .container-flex {
            padding: 20px;
            border-radius: 30px;

            h1 {
                font-size: 28px;
                margin-top: 30px;
                margin-bottom: 20px;
            }

            .btn-content {
                margin: 10px;

                .Selected-btn,
                .button {
                    padding: 8px 15px;
                }
            }
        }

        .container-comp {
            gap: 20px;

            .content-kid {
                padding: 15px;

                h2 {
                    font-size: 24px;
                }
            }
        }
    }
}



